<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>NGINX Log File Analyser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/x-icon" href="../static/img/nginx.svg">
    <script src="{{ url_for('static', filename='menu.js') }}" type="module"></script>
</head>

<html>
    <head>
        <title>success</title>
    </head>
    <body class = "container">
        <div class="content">
            <h1>Data from SQLite</h1>
            {% if data %}
            <table>
                <thead>
                    <tr>
                        {% for col in data[0].keys() %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data[:100] %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No data found.</p>
            {% endif %}
        </div>
        <h2>Pie Chart: Requests per IP</h2>
        <img src="data:image/png;base64,{{ chart1 }}" alt="Pie Chart">

    </body>
</html>
