<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>NGINX Log File Analyser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/x-icon" href="../static/img/nginx.svg">
    <script src="{{ url_for('static', filename='menu.js') }}" type="module"></script>
</head>

<body>
    <h1>Drop your log file</h1>
    <section class="drop-area">
    
    <html>  
        <head>  
            <title>upload the file : GFG</title>  
        </head>  
        <body>  
            <form action = "/success" method = "post" enctype="multipart/form-data">  
                <input type="file" name="file" />  
                <input type = "submit" value="Upload">  
            </form>  
        </body>  
    </html>
    
    </section>
</body>

</html>